DevOpsSample.module/Schemas/HelloWorldSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tibex="http://www.tibco.com/bpel/2007/extensions"
	xmlns:tns="http://www.example.com/namespaces/tns/1493680669677"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	targetNamespace="http://www.example.com/namespaces/tns/1493680669677">
	<xsd:element name="HelloWorld" type="tns:YourNameType"/>
		
	<xsd:complexType name="YourNameType">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="name"
				type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
